<h1 class="display3 text-center">The complete guide to explore Prage, in Winter</h1>
        <ul class="text-center p">
            <li class="p">Destination Europe</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> January 01, 2018</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image_5.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>
        <div class="text-content">
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo erat, rutrum eget turpis a, imperdiet euismod purus. Donec sit amet mauris et ex faucibus volutpat sit amet vel sem. Cras laoreet ultricies cursus. Donec vulputate diam vel ante laoreet, a auctor metus tristique. Proin commodo ultrices diam, at laoreet turpis facilisis vel. In fermentum tristique bibendum. Aliquam eget lacus arcu. </p>
            <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>
        <a [routerLink]="['/article']" style="text-decoration: none;">
        <div class="button text-center centered">READ MORE</div></a>

<h1 class="display3 text-center">New Zealand: Places you must visit before you die</h1>
        <ul class="text-center p">
            <li class="p">Must Visit</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> December 29, 2017</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image_4.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>
        <div class="text-content">
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo erat, rutrum eget turpis a, imperdiet euismod purus. Donec sit amet mauris et ex faucibus volutpat sit amet vel sem. Cras laoreet ultricies cursus. Donec vulputate diam vel ante laoreet, a auctor metus tristique. Proin commodo ultrices diam, at laoreet turpis facilisis vel. In fermentum tristique bibendum. Aliquam eget lacus arcu. </p>
            <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>
        <a [routerLink]="['/article2']" style="text-decoration: none;">
        <div class="button text-center centered">READ MORE</div></a>
    

<h1 class="display3 text-center">Switzerland: The land of dreams</h1>
        <ul class="text-center p">
            <li class="p">Must Visit</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> December 29, 2017</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image_3.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>
        <div class="text-content">
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo erat, rutrum eget turpis a, imperdiet euismod purus. Donec sit amet mauris et ex faucibus volutpat sit amet vel sem. Cras laoreet ultricies cursus. Donec vulputate diam vel ante laoreet, a auctor metus tristique. Proin commodo ultrices diam, at laoreet turpis facilisis vel. In fermentum tristique bibendum. Aliquam eget lacus arcu. </p>
            <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>
        <a [routerLink]="['/article3']" style="text-decoration: none;">
        <div class="button text-center centered">READ MORE</div></a>
    

<h1 class="display3 text-center">Top 10 restaurantes you must visit in Paris</h1>
        <ul class="text-center p">
            <li class="p">Must Visit</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> December 29, 2017</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image_2.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>
        <div class="text-content">
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo erat, rutrum eget turpis a, imperdiet euismod purus. Donec sit amet mauris et ex faucibus volutpat sit amet vel sem. Cras laoreet ultricies cursus. Donec vulputate diam vel ante laoreet, a auctor metus tristique. Proin commodo ultrices diam, at laoreet turpis facilisis vel. In fermentum tristique bibendum. Aliquam eget lacus arcu. </p>
            <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>
        <a [routerLink]="['/article4']" style="text-decoration: none;">
        <div class="button text-center centered">READ MORE</div></a>
    


<h1 class="display3 text-center">Dubai: 5 experiences that you can't miss</h1>
        <ul class="text-center p">
            <li class="p">Must Visit</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> December 29, 2017</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>
        <div class="text-content">
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo erat, rutrum eget turpis a, imperdiet euismod purus. Donec sit amet mauris et ex faucibus volutpat sit amet vel sem. Cras laoreet ultricies cursus. Donec vulputate diam vel ante laoreet, a auctor metus tristique. Proin commodo ultrices diam, at laoreet turpis facilisis vel. In fermentum tristique bibendum. Aliquam eget lacus arcu. </p>
            <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>
        <a [routerLink]="['/article5']" style="text-decoration: none;">
        <div class="button text-center centered">READ MORE</div></a>

<div id="nav">
    <span id="previous">previous</span>
    <span id="next">next</span>
</div>
    