<header>
    <a [routerLink]="['/mainpage']"><div id="logo" label="Logo"></div></a>
    <div id="socialmedia" label="Social Media Buttons">

      <div id="rectangle"></div>
      <div id="smm"><img src="/assets/smm.png" alt="SMM" height="30px"></div>

    </div>


    <div id="menu">
      <ul class="list-unstyled right">
        <li class="li-menu">TRAVEL UPDATES</li>
        <li class="li-menu">REVIEWS</li>
        <li class="li-menu">ABOUT</li>
        <li class="li-menu">CONTACT</li>
      </ul>
    </div>


 </header>