<h1 class="display3 text-center">The complete guide to explore Prage, in Winter</h1><a id="title"></a>
        <ul class="text-center p">
            <li class="p">Destination Europe</li>
            <li class="p"><span id="spacer">&bull;</span> Added by<span style="color:#4a4a4a"> &nbsp;John Williams Doe</span></li>
            <li class="p"><span id="spacer">&bull;</span> January 01, 2018</li>
        </ul> 
        
        <div class="imgs">
            <img src="assets/post-image_5.jpg" alt="The complete guide to explore Prage, in Winter" id="img-1" class="mx-auto"/>
        </div>

        <div class="text-content">
            <p class="display2 text-extra2">Lorem ipsum dolor sit amet. </p>
            <p class="text-justify text-extra">Integer quis viverra sapien. Mauris vehicula est vitae sodales aliquam. Aliquam sem nisl, pretium et justo vitae, sagittis dictum nunc. Nulla facilisi. Sed ultrices nisl lorem, in consequat urna facilisis a. Sed eu hendrerit risus. Phasellus tempor nisl ligula, id cursus nunc tincidunt nec. </p>
            <p class="text-justify text-extra">Morbi id orci eu nulla ultricies finibus eu non purus. Aliquam erat volutpat. Curabitur iaculis orci mauris, eu laoreet ante ultrices non. Nam tempor elit nec lobortis vestibulum. Aenean in neque vel justo fermentum lacinia ut a velit. Ut non dui rhoncus sapien varius venenatis non in justo. Phasellus mattis, orci eu finibus rutrum, turpis enim laoreet mauris, vitae imperdiet tellus libero vitae mauris. Ut blandit, nibh et iaculis ullamcorper, odio turpis semper mi, et aliquam ex orci sit amet quam.</p>
            <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis viverra sapien. Mauris vehicula est vitae sodales aliquam. Aliquam sem nisl, pretium et justo vitae, sagittis dictum nunc. Nulla facilisi. Sed ultrices nisl lorem, in consequat urna facilisis a. Sed eu hendrerit risus. Phasellus tempor nisl ligula, id cursus nunc tincidunt nec. </p>
        </div>

        <div class="barra-destaque align-self-center">
            <p class="display2 text-extra2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="ptext">Caption for quote goes here.</p>
        </div>

        <div class="text-content">
                <p class="display2 text-extra2">Lorem ipsum dolor sit amet. </p>
                <p class="text-justify text-extra">Integer quis viverra sapien. Mauris vehicula est vitae sodales aliquam. Aliquam sem nisl, pretium et justo vitae, sagittis dictum nunc. Nulla facilisi. Sed ultrices nisl lorem, in consequat urna facilisis a. Sed eu hendrerit risus. Phasellus tempor nisl ligula, id cursus nunc tincidunt nec. </p>
                <p class="text-justify text-extra">Morbi id orci eu nulla ultricies finibus eu non purus. Aliquam erat volutpat. Curabitur iaculis orci mauris, eu laoreet ante ultrices non. Nam tempor elit nec lobortis vestibulum. Aenean in neque vel justo fermentum lacinia ut a velit. Ut non dui rhoncus sapien varius venenatis non in justo. Phasellus mattis, orci eu finibus rutrum, turpis enim laoreet mauris, vitae imperdiet tellus libero vitae mauris. Ut blandit, nibh et iaculis ullamcorper, odio turpis semper mi, et aliquam ex orci sit amet quam.</p>
                <p class="text-justify text-extra">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis viverra sapien. Mauris vehicula est vitae sodales aliquam. Aliquam sem nisl, pretium et justo vitae, sagittis dictum nunc. Nulla facilisi. Sed ultrices nisl lorem, in consequat urna facilisis a. Sed eu hendrerit risus. Phasellus tempor nisl ligula, id cursus nunc tincidunt nec. </p>
                <p class="text-justify text-extra">Integer quis viverra sapien. Mauris vehicula est vitae sodales aliquam. Aliquam sem nisl, pretium et justo vitae, sagittis dictum nunc. Nulla facilisi. Sed ultrices nisl lorem, in consequat urna facilisis a. Sed eu hendrerit risus. Phasellus tempor nisl ligula, id cursus nunc tincidunt nec. </p>
                <p class="text-justify text-extra">Quisque nec magna ante. Mauris dignissim leo et elit scelerisque varius. In nulla velit, tempus id ligula vel, dictum convallis nunc. Sed accumsan sem eget tellus molestie, vitae porttitor risus scelerisque. Nunc fringilla, nisl ac pulvinar scelerisque, odio erat bibendum eros, sed facilisis ante eros in dolor. Morbi sagittis lorem eget enim semper egestas. Nulla sed diam a mauris ullamcorper egestas in vel justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            </div>

        <div class="article-footer-bar">
                <div class="ptext1"> Published by John Doe Willians on January 01, 2018</div>
                <div class="ptext2"> Posted Under "Destination Europe"</div>
        </div>

        <div class="button2 text-center centered">SHOW 2 COMMENTS</div>